[submodule "src/jemalloc"]
	path = src/jemalloc
	url = https://github.com/rust-lang/jemalloc.git
[submodule "src/dlmalloc"]
	path = src/dlmalloc
	url = https://github.com/alexcrichton/dlmalloc-rs.git
[submodule "src/stdsimd"]
	path = src/stdsimd
	url = https://github.com/rust-lang-nursery/stdsimd.git
[submodule "src/libbacktrace"]
	path = src/libbacktrace
	url = https://github.com/rust-lang-nursery/libbacktrace.git
